## QXD0178 - Mineração de Dados
# Preparação da base de dados

Elysson Alves de Lacerda - 536587 - Sistemas de Informação

# Lista de Exercícios: Limpeza de dados

Nesta lista de exercícios, você será deverá aplicar técnicas de processamento de dados e limpeza de dados para lidar com problemas comuns encontrados em conjuntos de dados do mundo real. Aplique as técnicas aprendidas na disciplina de Mineração de Dados para tratar dados faltantes e inconsistências, tornando os dados prontos para análises subsequentes.

![image.png]()

Para este exercícios será utilizada a base de dados [Food choices: College students' food and cooking preferences](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) que contém informações sobre hábitos alimentares de um conjunto de estudantes.


Este conjunto de dados possui valores ausentes em várias colunas. Sua tarefa é:

1. Identificar todas as colunas com dados faltantes.
1. Escolher a estratégia apropriada para tratar cada tipo de dado faltante (exemplo: preenchimento com média, mediana, valor mais frequente, ou remoção de linhas com dados faltantes).
1. Identificar as inconsistências específicas no conjunto de dados, como valores fora do intervalo.
1. Desenvolver um plano de ação para lidar com cada tipo de inconsistência (por exemplo, remoção de registros, correção de valores, ou imputação).
1. Aplicar as estratégias e o plano de ação escolhidos para preencher ou remover os dados faltantes e limpar os dados inconsistentes.
1. Documentar as ações tomadas em cada etapa do processo e justificar suas decisões.

**Todos os problemas** no conjunto precisam ser detectados e as ações tomadas devidamente justificadas e documentadas neste `.ipynb`. As justificativas devem ser descritas em células do tipo *Markdown* e as operações/ajustes deve estar implementadas na célula de código imediatamente subsequênte. O texto deve ser linear e conciso.

# Solução

## Carga do conjunto de dados `food_coded.csv`

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/She-Codes-Now/Intro-to-Data-Science-with-R/master/food_coded.csv")

df

Requirement already satisfied: pandas in c:\users\elyss\appdata\local\programs\python\python313\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\elyss\appdata\local\programs\python\python313\lib\site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elyss\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elyss\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elyss\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\elyss\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

## Primeiro contato
Identificar as primeiras linhas e informações gerais do dataset, afim de entender a sua estrutura.

In [3]:
# Exibindo as informações gerais do dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB


## Ajuste do atributo `soup`:

A coluna `soup` tem um dado faltante na linha 63. O valor será preenchido com o valor mais escolhido na amostra (moda), visando diminuir a incompletude no dataset, por ser um dado categórico, preencher com média ou mediana não faria sentido a moda é o valor mais frequente e, portanto, representa o que a maioria dos casos apresenta mantendo a coerência da coluna sem introduzir um valor arbitrário.

In [4]:
display(df.loc[[63],'soup':])
df['soup'].fillna(df['soup'].mode()[0], inplace=True)
display(df.loc[[63],'soup':])

,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
63,NaN,1.0,4,1165.0,690,rowing,5,2,1315,180

C:\Users\elyss\AppData\Local\Temp\ipykernel_15916\1467016892.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['soup'].fillna(df['soup'].mode()[0], inplace=True)

,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
63,1.0,1.0,4,1165.0,690,rowing,5,2,1315,180

## Incompletude

Uma das decisões que se pode tomar é descartar os valores nulos, mas claro levando em consideração qual pergunta deve-se responder, ou, caso o descarte vá danificar a análise futura, exemplo, existem casos que dropar um coluna nem sempre é a melhor escolha, trocar os valores nulos por moda, média ou mediana ou um valor padrão dependendo da natureza da coluna, como feito no exemplo anterior.

### `sports`

Ela possui valores faltando nas linhas 19 e 121, como os valores não variam muito, trocar pela moda é interessante

In [ ]:
display(df.loc[[19],'sports':])
display(df.loc[[121],'sports':])
df['sports'].fillna(df['sports'].mode()[0], inplace=True)
display(df.loc[[19],'sports':])
display(df.loc[[121],'sports':])

,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
19,NaN,3,940.0,345,basketball,2,2,900,165

,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
121,NaN,4,940.0,500,basketball,5,2,1315,180

<ipython-input-41-9d45073ace10>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sports'].fillna(df['sports'].mode()[0], inplace=True)

,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
19,1.0,3,940.0,345,basketball,2,2,900,165

,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
121,1.0,4,940.0,500,basketball,5,2,1315,180

### `calories_day`

Olhando por cima, tem dados faltantes da linhas 0 até 124, por ser numérico, trocar pela média é uma recomendação para esse caso

In [ ]:
display(df.loc[[0],'calories_day':])
display(df.loc[[8],'calories_day':])
display(df.loc[[15],'calories_day':])
media = df['calories_day'].mean()
media_rounded = round(media,1)
df['calories_day'].fillna(media_rounded, inplace=True)
display(df.loc[[0],'calories_day':])
display(df.loc[[8],'calories_day':])
display(df.loc[[15],'calories_day':])

,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,NaN,315.0,1,none,we dont have comfort,9.0,2.0,9,NaN,eat good and exercise,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187

,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
8,NaN,420.0,1,"Donuts, ice cream, chips",Boredom,2.0,3.0,2,1.0,I eat whatever I want in moderation.,...,2.0,2.0,5,725.0,345,none,3,2,760,180

,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
15,NaN,980.0,2,"cookies, donuts, candy bars",boredom,2.0,4.0,2,1.0,I like a lot of foods that arent home cooked o...,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180

<ipython-input-42-e6ab9bc766ef>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['calories_day'].fillna(media_rounded, inplace=True)

,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,3.0,315.0,1,none,we dont have comfort,9.0,2.0,9,NaN,eat good and exercise,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187

,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
8,3.0,420.0,1,"Donuts, ice cream, chips",Boredom,2.0,3.0,2,1.0,I eat whatever I want in moderation.,...,2.0,2.0,5,725.0,345,none,3,2,760,180

,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
15,3.0,980.0,2,"cookies, donuts, candy bars",boredom,2.0,4.0,2,1.0,I like a lot of foods that arent home cooked o...,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180

### `tortilla_calories`

Tem dado faltando na linha 100, por ter pouca variação, moda é ideal

In [ ]:
display(df.loc[[100],'tortilla_calories':])
df['tortilla_calories'].fillna(df['tortilla_calories'].mode()[0], inplace=True)
display(df.loc[[100],'tortilla_calories':])

,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
100,NaN,500,"Volleyball, Track",5,2,900,125

<ipython-input-43-b153c7ec2e29>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tortilla_calories'].fillna(df['tortilla_calories'].mode()[0], inplace=True)

,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
100,1165.0,500,"Volleyball, Track",5,2,900,125

### `calories_scone`

Tem `NaN` na linha 100, trocaremos por moda.

In [ ]:
display(df.loc[[100],'calories_scone':])
df['calories_scone'].fillna(df['calories_scone'].mode()[0], inplace=True)
display(df.loc[[100],'calories_scone':])

,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,diet_current_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
100,NaN,2,"watermelon, grapes, ice cream","Sad, bored, excited",3.0,3.0,3,1.0,I typically eat very healthy. i consume fruits...,1,...,1.0,1.0,5,1165.0,500,"Volleyball, Track",5,2,900,125

<ipython-input-44-f977e81e69f4>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['calories_scone'].fillna(df['calories_scone'].mode()[0], inplace=True)

,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,diet_current_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
100,420.0,2,"watermelon, grapes, ice cream","Sad, bored, excited",3.0,3.0,3,1.0,I typically eat very healthy. i consume fruits...,1,...,1.0,1.0,5,1165.0,500,"Volleyball, Track",5,2,900,125

### `calories_food_reason_coded`

Tem dados faltantes da 106 até 124, nesse caso, a coluna se repete com os mesmo dados, excluindo a primeira aparição dessa colunas e renomear a outra é uma ação interessante

In [ ]:
print(df.columns)
del df['comfort_food_reasons_coded']
df.rename(columns={'comfort_food_reasons_coded.1': 'comfort_food_reasons_coded'}, inplace=True)
print(df['comfort_food_reasons_coded'])
print(df.columns)

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')
0      9
1      1
2      1
3      2
4      1
      ..
120    2
121    3
122    3
123    7
124    5
Name: comfort_food_reasons_coded, Length: 125, dtype: int64
Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'cook', 'comfort_food_reasons_coded', 'cuisine', 'diet_current',
       'diet_current_coded', 'drink', 'eating_changes', 'eating_changes_coded',
       'eating_changes_coded1', 'eating_out', 'employment', 'ethnic_food',
       'exercise', 'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

### `cook`

Linhas 82, 88 e 124 sem dados, nesse caso a variação é visível, trocar pela média é melhor

In [ ]:
display(df.loc[[82],'cook':])
display(df.loc[[88],'cook':])
display(df.loc[[124],'cook':])
media = df['cook'].mean()
media_rounded = round(media,0)
df['cook'].fillna(media_rounded, inplace=True)
display(df.loc[[82],'cook':])
display(df.loc[[88],'cook':])
display(df.loc[[124],'cook':])

,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
82,NaN,2,1.0,I eat two-tree meals per day. Always eat a bre...,4,2.0,Food is not as healthy.,1,3,5,...,1.0,1.0,3,580.0,345,wrestling,3,2,575,170

,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
88,NaN,9,1.0,High protein and high carbs with fruits and ve...,2,2.0,Willingly eating vegetables,2,5,1,...,1.0,2.0,5,1165.0,850,NaN,4,1,1315,175

,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
124,NaN,5,3.0,high in protein and low in carbohydrates.,1,1.0,I have learned to eat more vegetables.,2,5,1,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

<ipython-input-46-2d5f90543cf9>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cook'].fillna(media_rounded, inplace=True)

,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
82,3.0,2,1.0,I eat two-tree meals per day. Always eat a bre...,4,2.0,Food is not as healthy.,1,3,5,...,1.0,1.0,3,580.0,345,wrestling,3,2,575,170

,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
88,3.0,9,1.0,High protein and high carbs with fruits and ve...,2,2.0,Willingly eating vegetables,2,5,1,...,1.0,2.0,5,1165.0,850,NaN,4,1,1315,175

,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
124,3.0,5,3.0,high in protein and low in carbohydrates.,1,1.0,I have learned to eat more vegetables.,2,5,1,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

### `cuisine`

Tem muitos dados faltantes, mas como o valor 1.0 aparece com muita frequência, substituir os faltantes por moda é melhor

In [ ]:
display(df.loc[[0],'cuisine':])
display(df.loc[[32],'cuisine':])
df['cuisine'].fillna(df['cuisine'].mode()[0], inplace=True)
display(df.loc[[0],'cuisine':])
display(df.loc[[32],'cuisine':])

,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,NaN,eat good and exercise,1,1.0,eat faster,1,1,3,3.0,1,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187

,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
32,NaN,"Not that balanced, but I try not to eat fatty ...",2,2.0,I eat more junk food now.,1,3,3,2.0,5,...,1.0,1.0,5,580.0,345,Soccer,5,1,760,NaN

<ipython-input-47-1ea0f8677053>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cuisine'].fillna(df['cuisine'].mode()[0], inplace=True)

,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,1.0,eat good and exercise,1,1.0,eat faster,1,1,3,3.0,1,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187

,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
32,1.0,"Not that balanced, but I try not to eat fatty ...",2,2.0,I eat more junk food now.,1,3,3,2.0,5,...,1.0,1.0,5,580.0,345,Soccer,5,1,760,NaN

### `drink`

Fantantes em 21 e 63, por se variar muito, a escala (1.0 - 5.0) aplicar a média é uma boa

In [ ]:
display(df.loc[[21],'drink':])
display(df.loc[[63],'drink':])
media = df['drink'].mean()
media_rounded = round(media,0)
df['drink'].fillna(media_rounded, inplace=True)
display(df.loc[[21],'drink':])
display(df.loc[[63],'drink':])

,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
21,NaN,"Less money, less food :(",1,8,1,2.0,3,1.0,4.0,European logistics director,...,2.0,1.0,5,725.0,500,Tennis,2,2,900,195

,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
63,NaN,NaN,3,4,4,3.0,5,1.0,4.0,VP of GNC,...,1.0,1.0,4,1165.0,690,rowing,5,2,1315,180

<ipython-input-48-3d426847f6cc>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['drink'].fillna(media_rounded, inplace=True)

,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
21,2.0,"Less money, less food :(",1,8,1,2.0,3,1.0,4.0,European logistics director,...,2.0,1.0,5,725.0,500,Tennis,2,2,900,195

,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
63,2.0,NaN,3,4,4,3.0,5,1.0,4.0,VP of GNC,...,1.0,1.0,4,1165.0,690,rowing,5,2,1315,180

### `employment`

Tem muitos dados em falta, a frequência é parecida com a da coluna `drink`, de novo, aplica-se a média nesse caso

In [ ]:
display(df.loc[[43],'employment':])
display(df.loc[[47],'employment':])
media = df['employment'].mean()
media_rounded = round(media,0)
df['employment'].fillna(media_rounded, inplace=True)
display(df.loc[[43],'employment':])
display(df.loc[[47],'employment':])

,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
43,NaN,5,NaN,2.0,Unknown,chinese,4,3.0,"pickles, chinese food, pizza",1,...,2.0,2.0,5,940.0,345,no particular engagement,4,1,900,100

,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
47,NaN,3,1.0,5.0,small business owner,Italian,1,3.0,"lasagna, meatloaf, pizza",1,...,1.0,1.0,1,940.0,345,wrestling & rowing,5,2,900,145

<ipython-input-49-fb4286e9c513>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['employment'].fillna(media_rounded, inplace=True)

,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
43,2.0,5,NaN,2.0,Unknown,chinese,4,3.0,"pickles, chinese food, pizza",1,...,2.0,2.0,5,940.0,345,no particular engagement,4,1,900,100

,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
47,2.0,3,1.0,5.0,small business owner,Italian,1,3.0,"lasagna, meatloaf, pizza",1,...,1.0,1.0,1,940.0,345,wrestling & rowing,5,2,900,145

### `exercise`

Novamente, muitos dados faltando, o intervalo é pequeno, entre 1 e 3, a média é aplicada novamente

In [ ]:
display(df.loc[[8],'exercise':])
display(df.loc[[32],'exercise':])
media = df['exercise'].mean()
media_rounded = round(media,0)
df['exercise'].fillna(media_rounded, inplace=True)
display(df.loc[[8],'exercise':])
display(df.loc[[32],'exercise':])

,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
8,NaN,5.0,High School Principal,Seafood,1,3.0,"Shrimp, spaghetti",1,4,1,...,2.0,2.0,5,725.0,345,none,3,2,760,180

,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
32,NaN,5.0,Lawyer,Spanish,2,NaN,"Spaghetti, Chicken, Won Tons",1,4,4,...,1.0,1.0,5,580.0,345,Soccer,5,1,760,NaN

<ipython-input-50-ebf7a6e14195>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['exercise'].fillna(media_rounded, inplace=True)

,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
8,2.0,5.0,High School Principal,Seafood,1,3.0,"Shrimp, spaghetti",1,4,1,...,2.0,2.0,5,725.0,345,none,3,2,760,180

,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
32,2.0,5.0,Lawyer,Spanish,2,NaN,"Spaghetti, Chicken, Won Tons",1,4,4,...,1.0,1.0,5,580.0,345,Soccer,5,1,760,NaN

### `father_education`

Faltando na linha 72, novamente o intervalo é pequeno (1.0 - 5.0), aplicada a média como troca desse valor

In [ ]:
display(df.loc[[72],'father_education':])
media = df['father_education'].mean()
media_rounded = round(media,0)
df['father_education'].fillna(media_rounded, inplace=True)
display(df.loc[[72],'father_education':])

,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
72,NaN,Police Officer,Lean,0,2.0,Pizza Mac n Cheese Pasta,1,5,1,2,...,1.0,2.0,3,1165.0,345,NaN,5,1,1315,140

<ipython-input-51-2cbc667a1864>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['father_education'].fillna(media_rounded, inplace=True)

,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
72,3.0,Police Officer,Lean,0,2.0,Pizza Mac n Cheese Pasta,1,5,1,2,...,1.0,2.0,3,1165.0,345,NaN,5,1,1315,140

### `fav_food`

Linhas 32 e 98, nas colunas tem o valor 1.0 como moda, trocar por ele não afetaria tanto, nesse caso

In [ ]:
display(df.loc[[32],'fav_food':])
display(df.loc[[98],'fav_food':])
df['fav_food'].fillna(df['fav_food'].mode()[0], inplace=True)
display(df.loc[[32],'fav_food':])
display(df.loc[[98],'fav_food':])

,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
32,NaN,"Spaghetti, Chicken, Won Tons",1,4,4,5,5,Plenty of greens and lean proteins,"Plenty of protein, carbs from vegetables and f...",7,...,1.0,1.0,5,580.0,345,Soccer,5,1,760,NaN

,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
98,NaN,"Chicken parmigiana, wedding soup, pasta",1,5,4,5,8,"Well balanced with protein, fruits, vegetables...",My ideal diet would be one that is well balanc...,3,...,1.0,1.0,5,1165.0,690,Tennis,4,1,1315,185

<ipython-input-52-01bc63110d2d>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fav_food'].fillna(df['fav_food'].mode()[0], inplace=True)

,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
32,1.0,"Spaghetti, Chicken, Won Tons",1,4,4,5,5,Plenty of greens and lean proteins,"Plenty of protein, carbs from vegetables and f...",7,...,1.0,1.0,5,580.0,345,Soccer,5,1,760,NaN

,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
98,1.0,"Chicken parmigiana, wedding soup, pasta",1,5,4,5,8,"Well balanced with protein, fruits, vegetables...",My ideal diet would be one that is well balanc...,3,...,1.0,1.0,5,1165.0,690,Tennis,4,1,1315,185

### `income`

Falta na linha 102, o intervalo é entre 1.0 e 6.0 e existem valores que aparecem com muita frequência, média é uma boa escolha

In [ ]:
display(df.loc[[102],'income':])
media = df['income'].mean()
media_rounded = round(media,0)
df['income'].fillna(media_rounded, inplace=True)
display(df.loc[[102],'income':])

,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
102,NaN,1,5,7.0,1.0,NaN,5.0,Secretary,5,1.0,...,1.0,2.0,2,940.0,500,NaN,5,1,900,135

<ipython-input-53-4ed3241a935f>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['income'].fillna(media_rounded, inplace=True)

,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
102,5.0,1,5,7.0,1.0,NaN,5.0,Secretary,5,1.0,...,1.0,2.0,2,940.0,500,NaN,5,1,900,135

### `life_rewarding`

Novamente uma linha apenas, a linha 15, com um intervalo entre 1.0 e 10.0 e valores aparecem com muita frequência, a tendência é moda, mas como aplicado nos casos anteriores, média está sendo uma boa métrica de troca

In [ ]:
display(df.loc[[15],'life_rewarding':])
media = df['life_rewarding'].mean()
media_rounded = round(media,0)
df['life_rewarding'].fillna(media_rounded, inplace=True)
display(df.loc[[15],'life_rewarding':])

,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
15,NaN,2.0,pizza buffalo chicken pasta,4.0,Librarian,1,1.0,2,3,1.0,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180

<ipython-input-54-1aade853cf9a>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['life_rewarding'].fillna(media_rounded, inplace=True)

,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
15,5.0,2.0,pizza buffalo chicken pasta,4.0,Librarian,1,1.0,2,3,1.0,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180

### `marital_status`:

Tem um dado faltante na linha 83 e um discrepante na linha 74, sendo o diferentão da coluna com intervalo variando entre 10 e 2.0, trocar por moda não afeta muito

In [ ]:
display(df.loc[[83],'marital_status':])
display(df.loc[[74],'marital_status':])
mode = df['marital_status'].mode()[0]
df['marital_status'].fillna(mode, inplace=True)
df.at[74, 'marital_status'] = mode
display(df.loc[[83],'marital_status':])
display(df.loc[[74],'marital_status':])

,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
83,NaN,"Spaghetti con Chorizo, Carne Asada, Salmon",1.0,Janitor,3,1.0,2,2,5.0,3.0,1.0,1.0,5,940.0,690,Marching Band,4,2,1315,127

,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,4.0,"rice and Chicken, sea food",1.0,NaN,2,2.0,3,5,3.0,3.0,1.0,2.0,3,580.0,345,NaN,4,2,760,NaN

<ipython-input-55-129816e007cc>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['marital_status'].fillna(mode, inplace=True)

,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
83,1.0,"Spaghetti con Chorizo, Carne Asada, Salmon",1.0,Janitor,3,1.0,2,2,5.0,3.0,1.0,1.0,5,940.0,690,Marching Band,4,2,1315,127

,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,1.0,"rice and Chicken, sea food",1.0,NaN,2,2.0,3,5,3.0,3.0,1.0,2.0,3,580.0,345,NaN,4,2,760,NaN

### `mother_education`

Dados faltantes na linhas 33, 65 e 88, novamente o intervalo (1.0 - 5.0) com uma aparição alta de diferentes valores, a média é aplicada

In [ ]:
display(df.loc[[33],'mother_education':])
display(df.loc[[65],'mother_education':])
display(df.loc[[88],'mother_education':])
media = df['mother_education'].mean()
media_rounded = round(media,0)
df['mother_education'].fillna(media_rounded, inplace=True)
display(df.loc[[33],'mother_education':])
display(df.loc[[65],'mother_education':])
display(df.loc[[88],'mother_education':])

,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
33,NaN,unemployed,4,1.0,1,3,2.0,3.0,1.0,2.0,1,1165.0,500,NaN,3,1,900,128

,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
65,NaN,Periodontist,1,1.0,2,5,1.0,2.0,1.0,2.0,4,725.0,500,NaN,3,2,900,112

,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
88,NaN,home cleaner,5,1.0,1,4,5.0,2.0,1.0,2.0,5,1165.0,850,NaN,4,1,1315,175

<ipython-input-56-f5872a0af2db>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mother_education'].fillna(media_rounded, inplace=True)

,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
33,3.0,unemployed,4,1.0,1,3,2.0,3.0,1.0,2.0,1,1165.0,500,NaN,3,1,900,128

,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
65,3.0,Periodontist,1,1.0,2,5,1.0,2.0,1.0,2.0,4,725.0,500,NaN,3,2,900,112

,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
88,3.0,home cleaner,5,1.0,1,4,5.0,2.0,1.0,2.0,5,1165.0,850,NaN,4,1,1315,175

### `on_off_campus`

Linhas 43 está faltante, o valor repetido com frequência é o 1.0

In [ ]:
display(df.loc[[43],'on_off_campus':])
df['on_off_campus'].fillna(df['on_off_campus'].mode()[0], inplace=True)
display(df.loc[[43],'on_off_campus':])

,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
43,NaN,1,2,5.0,NaN,2.0,2.0,5,940.0,345,no particular engagement,4,1,900,100

<ipython-input-57-4134bf4d8b11>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['on_off_campus'].fillna(df['on_off_campus'].mode()[0], inplace=True)

,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
43,1.0,1,2,5.0,NaN,2.0,2.0,5,940.0,345,no particular engagement,4,1,900,100

### `persian_food`

Linha 49, com intervalo entre (1.0 - 5.0) a média é uma boa escolha de troca

In [ ]:
display(df.loc[[49],'persian_food':])
media = df['persian_food'].mean()
media_rounded = round(media,0)
df['persian_food'].fillna(media_rounded, inplace=True)
display(df.loc[[49],'persian_food':])

,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
49,NaN,1.0,2.0,2.0,4,1165.0,690,none,3,2,900,150

<ipython-input-58-338780acbde2>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['persian_food'].fillna(media_rounded, inplace=True)

,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
49,3.0,1.0,2.0,2.0,4,1165.0,690,none,3,2,900,150

### `self_perception_weight`

Linha 43, com o intervalo entre 1.0 e 6.0 e tem muitas opções de todos os valores da frequência, aplicamos a média na coluna

In [ ]:
display(df.loc[[43],'self_perception_weight':])
media = df['self_perception_weight'].mean()
media_rounded = round(media,0)
df['self_perception_weight'].fillna(media_rounded, inplace=True)
display(df.loc[[43],'self_perception_weight':])

,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
43,NaN,2.0,2.0,5,940.0,345,no particular engagement,4,1,900,100

<ipython-input-59-4059df5d83a3>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['self_perception_weight'].fillna(media_rounded, inplace=True)

,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
43,3.0,2.0,2.0,5,940.0,345,no particular engagement,4,1,900,100

### `comfort_food`

Linha 74 é `NaN`, por ter muitos dados com texto, é válido excluir por completo, já que não possuier tantos campos com dados definidos não da margem para trabalhar por cima, sendo mais uma decisão pessoal dropá-la

In [ ]:
display(df.loc[[74],'comfort_food':])
df = df.drop(74).reset_index(drop=True)

,comfort_food,comfort_food_reasons,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,NaN,NaN,2.0,9,4.0,NaN,4,2.0,NaN,3,...,1.0,2.0,3,580.0,345,NaN,4,2,760,NaN

assim como em `comfort_food_reasons`

In [ ]:
display(df.loc[[74],'comfort_food_reasons':])

,comfort_food_reasons,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,"sadness, stressed, boredom",3.0,3,1.0,I normally eat a salad every day. I try to get...,1,1.0,I do not eat as many fruits and vegetables as ...,1,3,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120

e `diet_current`

In [ ]:
display(df.loc[[74],'diet_current':])

,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,I normally eat a salad every day. I try to get...,1,1.0,I do not eat as many fruits and vegetables as ...,1,3,2,2.0,5,1.0,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120

## Ruídos
No dataset é encontrado valores atípicos e inconsistentes, uma alternativa é trocar valores que não obedecem ao formato "raiz" da coluna.

### `weight` e `GPA`

 É um caso delicado, tem vários problemas faltando, exemplo, na linhas 2, não tem-se resposta; Nas linhas 3 e 67 é adicinada uma string antes, que fica complicado para usar o `numpy`; Nas linhas 32 e 74 tem-se valores `Nan`, foi removida as string dos outros dados, sobrando casos como os anteriores para resolver; Foi aplicado a média com o métrica, por conta de muitos dados diferentes

In [ ]:
display(df.loc[[2],'weight':])
display(df.loc[[3],'weight':])
display(df.loc[[67],'weight':])
display(df.loc[[74],'weight':])
df.at[2, 'weight'] = np.nan
df['weight'] = df['weight'].str.extract('(\d+)').astype(float)
media = df['weight'].mean()
media_rounded = round(media,0)
df.at[2, 'weight'] = media_rounded
df['weight'].fillna(media_rounded, inplace=True)
display(df.loc[[2],'weight':])
display(df.loc[[3],'weight':])
display(df.loc[[67],'weight':])
display(df.loc[[74],'weight':])
display(df.loc[[32],'weight':])

                     weight
2  I'm not answering this.

          weight
3  Not sure, 240

     weight
67  144 lbs

   weight
74    120

<ipython-input-63-0601b10c3ab3>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['weight'].fillna(media_rounded, inplace=True)

   weight
2   159.0

   weight
3   240.0

    weight
67   144.0

    weight
74   120.0

    weight
32   159.0

Visto que o **GPA** parece ter valores categóricos, que são ruídos, Isso ocorre porque o **GPA** deve ser representado apenas por valores numéricos, convertendo valores não numéricos para *NaN* e em seguida substituí-los pela média ou mediana do **GPA** ou descartar

In [ ]:
display(df.loc[[15],'GPA':])
display(df.loc[[61],'GPA':])
display(df.loc[[73],'GPA':])
display(df.loc[[102],'GPA':])
display(df.loc[[104],'GPA':])
df.at[61, 'GPA'] = np.nan
df.at[104, 'GPA'] = np.nan
df['GPA'] = df['GPA'].str.extract('(\d+)').astype(float)
media = df['GPA'].mean()
df['GPA'].fillna(media, inplace=True)
display(df.loc[[15],'GPA':])
display(df.loc[[61],'GPA':])
display(df.loc[[73],'GPA':])
display(df.loc[[102],'GPA':])
display(df.loc[[104],'GPA':])

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
15,NaN,2,2,430,3.0,980.0,2,"cookies, donuts, candy bars",boredom,4.0,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
61,Personal,1,1,610,2.0,980.0,2,"Macaroons, truffles, peanut butter n chocolate...","I do not really eat ""comfort food"" but I guess...",2.0,...,2.0,2.0,2,725.0,500,NaN,3,1,1315,118.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
73,3.79 bitch,2,1,720,4.0,420.0,2,"Chips, ice cream","Boredom, stress",1.0,...,1.0,1.0,2,1165.0,850,baseball,4,1,1315,200.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
102,3.7,1,1,610,3.0,420.0,2,"dark chocolate, terra chips, reese's cups(dark...","Anxiousness, watching TV I desire ""comfort food""",2.0,...,1.0,2.0,3,725.0,345,"When I can, rarely though play pool, darts, an...",5,1,760,130.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
104,3,1,1,720,3.0,420.0,2,"ice cream, chips, candy","Boredom, laziness, anger",3.0,...,2.0,1.0,3,1165.0,690,volleyball,2,2,1315,125.0

<ipython-input-64-d0196f13b7a1>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GPA'].fillna(media, inplace=True)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
15,2.932773,2,2,430,3.0,980.0,2,"cookies, donuts, candy bars",boredom,4.0,...,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
61,2.932773,1,1,610,2.0,980.0,2,"Macaroons, truffles, peanut butter n chocolate...","I do not really eat ""comfort food"" but I guess...",2.0,...,2.0,2.0,2,725.0,500,NaN,3,1,1315,118.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
73,3.0,2,1,720,4.0,420.0,2,"Chips, ice cream","Boredom, stress",1.0,...,1.0,1.0,2,1165.0,850,baseball,4,1,1315,200.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
102,3.0,1,1,610,3.0,420.0,2,"dark chocolate, terra chips, reese's cups(dark...","Anxiousness, watching TV I desire ""comfort food""",2.0,...,1.0,2.0,3,725.0,345,"When I can, rarely though play pool, darts, an...",5,1,760,130.0

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
104,2.932773,1,1,720,3.0,420.0,2,"ice cream, chips, candy","Boredom, laziness, anger",3.0,...,2.0,1.0,3,1165.0,690,volleyball,2,2,1315,125.0

### `eating_changes`

Linha 74 tem NaN, caso parecido com anteriores, ela também possui valores `NaN`, foi trocado esse valores por `none`.

In [ ]:
display(df.loc[[53],'eating_changes':])
df['eating_changes'].fillna('none', inplace=True)
display(df.loc[[53],'eating_changes':])

,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
53,NaN,3,4,3,2.0,3,2.0,2.0,HVAC Professional,Sub sandwhiches,...,1.0,2.0,1,940.0,500,NaN,4,1,1315,265.0

<ipython-input-65-5117f41c0523>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['eating_changes'].fillna('none', inplace=True)

,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
53,none,3,4,3,2.0,3,2.0,2.0,HVAC Professional,Sub sandwhiches,...,1.0,2.0,1,940.0,500,NaN,4,1,1315,265.0

### `father_profession`, `fav_cuisine`, `food_childhood`, `healthy_meal`, `ideal_diet`

Tem alguns valores `NaN`, trocamos por `none` se mostra como uma boa escolha

In [ ]:
display(df.loc[[30],'father_profession':])
df['father_profession'].fillna('none', inplace=True)
display(df.loc[[30],'father_profession':])

,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
30,NaN,mexican,2,2.0,"french fries, waffles, chocolate",1,3,4,2,7,...,2.0,1.0,3,940.0,500,snowboarding,5,1,1315,115.0

<ipython-input-66-bae97bd39b2f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['father_profession'].fillna('none', inplace=True)

,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
30,none,mexican,2,2.0,"french fries, waffles, chocolate",1,3,4,2,7,...,2.0,1.0,3,940.0,500,snowboarding,5,1,1315,115.0

In [ ]:
display(df.loc[[110],'fav_cuisine':])
mode_fav_cuisine = df.loc[df.index != 110, 'fav_cuisine'].mode()[0]
df.loc[110, 'fav_cuisine'] = mode_fav_cuisine
display(df.loc[[110],'fav_cuisine':])

,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
110,NaN,0,1.0,"Pizza, Pita, Lasagna",1,3,3,5,9,low calories plenty of veggies,...,1.0,2.0,1,725.0,345,NaN,3,2,1315,170.0

,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
110,Italian,0,1.0,"Pizza, Pita, Lasagna",1,3,3,5,9,low calories plenty of veggies,...,1.0,2.0,1,725.0,345,NaN,3,2,1315,170.0

In [ ]:
display(df.loc[[74],'food_childhood':])

,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,income,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,"salad, chicken, pizza",1,5,1,3,6,"grilled meat, fruit, vegetable, and some grains",Eating all fruits and vegetables. Staying away...,2,5.0,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120.0

In [ ]:
display(df.loc[[74],'healthy_meal':])

,healthy_meal,ideal_diet,ideal_diet_coded,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,"grilled meat, fruit, vegetable, and some grains",Eating all fruits and vegetables. Staying away...,2,5.0,4,5,9.0,2.0,"Chicken, Spaghetti, Hamburgers",4.0,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120.0

In [ ]:
display(df.loc[[74],'ideal_diet':])

,ideal_diet,ideal_diet_coded,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,Eating all fruits and vegetables. Staying away...,2,5.0,4,5,9.0,2.0,"Chicken, Spaghetti, Hamburgers",4.0,RN,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120.0

### `meals_dinner_friend`, `mother_profession`, `type_sports`

Tem valores `NaN` mas ela tem muitos valores possíveis e por serem tipos de comida, troquei por `none`

In [ ]:
display(df.loc[[101],'meals_dinner_friend':])
df['meals_dinner_friend'].fillna('none', inplace=True)
display(df.loc[[101],'meals_dinner_friend':])

,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
101,NaN,5.0,Secretary,5,1.0,2,3,1.0,4.0,1.0,2.0,2,940.0,500,NaN,5,1,900,135.0

<ipython-input-71-5f82a69e596e>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['meals_dinner_friend'].fillna('none', inplace=True)

,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
101,none,5.0,Secretary,5,1.0,2,3,1.0,4.0,1.0,2.0,2,940.0,500,NaN,5,1,900,135.0

In [ ]:
display(df.loc[[74],'mother_profession':])
display(df.loc[[111],'mother_profession':])
df['mother_profession'].fillna('none', inplace=True)
display(df.loc[[111],'mother_profession':])

,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
74,RN,4,1.0,2,4,3.0,3.0,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120.0

,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
111,Fourth Grade Teacher,4,1.0,2,3,5.0,3.0,1.0,2.0,5,725.0,500,NaN,3,2,900,129.0

<ipython-input-72-b00738b794b1>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mother_profession'].fillna('none', inplace=True)

,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
111,Fourth Grade Teacher,4,1.0,2,3,5.0,3.0,1.0,2.0,5,725.0,500,NaN,3,2,900,129.0

In [ ]:
display(df.loc[[74],'type_sports':])
display(df.loc[[111],'type_sports':])
df['type_sports'].fillna('none', inplace=True)
display(df.loc[[111],'type_sports':])

                type_sports  veggies_day  vitamins  waffle_calories  weight
74  I danced in high school            4         1              900   120.0

    type_sports  veggies_day  vitamins  waffle_calories  weight
111         NaN            3         2              900   129.0

<ipython-input-73-f3f568a55005>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['type_sports'].fillna('none', inplace=True)

    type_sports  veggies_day  vitamins  waffle_calories  weight
111        none            3         2              900   129.0

`comfort_food_reasons` tem apenas um dado faltando

In [ ]:
df_nan = df[df.isnull().any(axis=1)]
pd.set_option('display.max_rows', None) #permite exibir todas as linhas
pd.set_option('display.max_columns', None) #permite exibir todas as colunas
df_nan

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
87,3.0,2,2,720,4.0,980.0,2,"Little Debbie snacks, donuts, pizza",NaN,3.0,9,1.0,High protein and high carbs with fruits and ve...,2,2.0,Willingly eating vegetables,2,5,1,2.0,5,1.0,2.0,handyman,Mexican,2,1.0,"Quesadilla, chocolate, steak",1,4,3,5,7,"High protein, high carbs , vegetables",Same as current diet,6,2.0,5,5,1.0,1.0,"burritos, pasta, chicken",3.0,home cleaner,5,1.0,1,4,5.0,2.0,1.0,2.0,5,1165.0,850,none,4,1,1315,175.0

In [ ]:
mode_comfort_food_reasons = df.loc[df.index != 87, 'comfort_food_reasons'].mode()[0]
df.loc[87, 'comfort_food_reasons'] = mode_comfort_food_reasons

In [ ]:
df_nan = df[df.isnull().any(axis=1)]
df_nan

Empty DataFrame
Columns: [GPA, Gender, breakfast, calories_chicken, calories_day, calories_scone, coffee, comfort_food, comfort_food_reasons, cook, comfort_food_reasons_coded, cuisine, diet_current, diet_current_coded, drink, eating_changes, eating_changes_coded, eating_changes_coded1, eating_out, employment, ethnic_food, exercise, father_education, father_profession, fav_cuisine, fav_cuisine_coded, fav_food, food_childhood, fries, fruit_day, grade_level, greek_food, healthy_feeling, healthy_meal, ideal_diet, ideal_diet_coded, income, indian_food, italian_food, life_rewarding, marital_status, meals_dinner_friend, mother_education, mother_profession, nutritional_check, on_off_campus, parents_cook, pay_meal_out, persian_food, self_perception_weight, soup, sports, thai_food, tortilla_calories, turkey_calories, type_sports, veggies_day, vitamins, waffle_calories, weight]
Index: []

## Inconsitência
 Outras mudança específica que pode-se fazer as colunas fora de padronização, com valores fora de padrão, no caso, foi feito o arredondamento dos valores para melhor visualização da coluna numéricas, por este motivo foi feita essa mudança, ademais foi modificado o tipo da coluna 'cook' para inteiro :

In [ ]:
# Arredondar valores das colunas para 1 casa decimal
df['cuisine'] = df['cuisine'].round(1)
df['GPA'] = df['GPA'].round(1)
df['calories_day'] = df['calories_day'].round(1)
df['drink'] = df['drink'].round(1)
df['comfort_food_reasons_coded'] = df['comfort_food_reasons_coded'].round(1)
df['sports'] = df['sports'].round(1)
df['cook'] = df['cook'].astype(int)
display(df)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.0,2,1,430,3.0,315.0,1,none,we dont have comfort,2,9,1.0,eat good and exercise,1,1.0,eat faster,1,1,3,3.0,1,1.0,5.0,profesor,Arabic cuisine,3,1.0,rice and chicken,2,5,2,5,2,looks not oily,being healthy,8,5.0,5,5,1.0,1.0,"rice, chicken, soup",1.0,unemployed,5,1.0,1,2,5.0,3.0,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187.0
1,3.0,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",3,1,1.0,I eat about three times a day with some snacks...,2,2.0,I eat out more than usual.,1,2,2,2.0,4,1.0,2.0,Self employed,Italian,1,1.0,"chicken and biscuits, beef soup, baked beans",1,4,4,4,5,"Grains, Veggies, (more of grains and veggies),...",Try to eat 5-6 small meals a day. While trying...,3,4.0,4,4,1.0,2.0,"Pasta, steak, chicken",4.0,Nurse RN,4,1.0,1,4,4.0,3.0,1.0,1.0,2,725.0,690,Basketball,4,2,900,155.0
2,3.0,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,1,3.0,"toast and fruit for breakfast, salad for lunch...",3,1.0,sometimes choosing to eat fast food instead of...,1,3,2,3.0,5,2.0,2.0,owns business,italian,1,3.0,"mac and cheese, pizza, tacos",1,5,3,5,6,usually includes natural ingredients; nonproce...,i would say my ideal diet is my current diet,6,6.0,5,5,7.0,2.0,"chicken and rice with veggies, pasta, some kin...",2.0,owns business,4,2.0,1,3,5.0,6.0,1.0,2.0,5,1165.0,500,none,5,1,900,159.0
3,3.0,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,2,2.0,"College diet, cheap and easy foods most nights...",2,2.0,Accepting cheap and premade/store bought foods,1,3,2,3.0,5,3.0,2.0,Mechanic,Turkish,3,1.0,"Beef stroganoff, tacos, pizza",2,4,4,5,7,"Fresh fruits& vegetables, organic meats","Healthy, fresh veggies/fruits & organic foods",2,6.0,5,5,2.0,2.0,Grilled chicken \rStuffed Shells\rHomemade Chili,4.0,Special Education Teacher,2,1.0,1,2,5.0,5.0,1.0,2.0,5,725.0,690,none,3,1,1315,240.0
4,3.0,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,1,2.0,I try to eat healthy but often struggle becaus...,2,2.0,I have eaten generally the same foods but I do...,3,4,2,2.0,4,1.0,4.0,IT,Italian,1,3.0,"Pasta, chicken tender, pizza",1,4,4,4,6,"A lean protein such as grilled chicken, green ...",Ideally I would like to be able to eat healthi...,2,6.0,2,5,1.0,1.0,"Chicken Parmesan, Pulled Pork, Spaghetti and m...",5.0,Substance Abuse Conselor,3,1.0,1,4,2.0,4.0,1.0,1.0,4,940.0,500,Softball,4,2,760,190.0
5,2.0,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",3,4,1.0,My current diet is terrible. I barely have tim...,2,2.0,Eating rice everyday. Eating less homemade food.,1,3,1,3.0,4,2.0,1.0,Taxi Driver,African,6,3.0,"Fries, plaintain & fried fish",1,2,2,2,4,"Requires veggies, fruits and a cooked meal.",My ideal diet is to eat 3 times a day includin...,2,1.0,5,5,4.0,2.0,Anything they'd want. I'd ask them before hand...,1.0,Hair Braider,1,1.0,2,5,5.0,5.0,1.0,2.0,4,940.0,345,None.,1,2,1315,190.0
6,3.0,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",2,1,1.0,I eat a lot of chicken and broccoli for dinner...,3,1.0,I started eating a lot less and healthier beca...,2,5,2,3.0,5,1.0,4.0,Assembler,Thai,4,1.0,"grilled chicken, hamburgers",1,4,4,5,4,"Protein, vegetables, fruit, and some carbs",I would ideally like to eat more fresh fruits ...,2,4.0,5,5,8.0,1.0,"Grilled chicken, steak, pizza",4.0,Journalist,4,2.0,2,2,5.0,4.0,1.0,1.0,5,940.0,690,soccer,4,1,1315,180.0
7,3.0,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,3,1,1.0,"I eat a very healthy diet. Ocassionally, i wil...",1,2.0,"Freshmen year i ate very unhealthy, but now it...",2,5,2,2.0,2,2.0,3.0,Business guy,Anything american style.,5,1.0,"chicken, cheesey potatoes, and hot dogs",1,5,2,3,3,A healthy meal has a piece of meat followed by...,My ideal diet is filled with a lot of fruit an...,2,5.0,1,3,3.0,1.0,"chicken, steak, pasta",2.0,cook,4,1.0,1,5,1.0,3.0,1.0,2.0,1,725.0,500,none,4,2,1315,137.0
8,3.0,1,1,430,3.0,420.0,1,"Donuts, ice cream, chips",Boredom,3,2,1.0,I eat whatever I want in moderation.,1,1.0,I snack less,2,8,5,2.0,5,2.0,5.0,High School Principal,Seafood,1,3.0,"Shrimp, spaghetti",1,4,1,5,7,Colorful,The same as it is now.,6,5.0,5,5,8.0,2.0,"Pasta, Fish, Steak",5.0,Elementary School Teacher,2,1.0,2,3,5.0,4.0,2.0,2.0,5,725.0,345,none,3,2,760,180.0
9,3.0,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",3,1,1.0,I eat healthy all the time when possible. I tr...,1,1.0,I cook a lot of my own foods back at home so n...,1,3,3,3.0,5,1.0,5.0,commissioner of erie county,Italian,1,1.0,"Pasta, Eggs, Pancakes",1,5,1,5,3,Chicken and rice with a side of veggies.,"Lots of protein, carbs, and fruits and veggies.",2,4.0,4,5,3.0,2.0,pasta salad and bread,5.0,Pharmaceutical rep,5,1.0,3,3,4.0,3.0,1.0,1.0,4,580.0,345,field hockey,5,1,900,125.0
10,3.0,1,1,610,3.0,980.0,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,1,2,1.0,i eat very healthy. Maybe eat out 1-2 times a ...,1,2.0,Nun,3,4,2,1.0,5,1.0,2.0,Idk,Orange chicken and chow mani noodles,4,1.0,Chicken,1,5,3,1,9,"Chicken, and veggies","Chicken, fish",7,3.0,1,5,8.0,1.0,"chicken al king, spaghetti, fish",4.0,Chidos Cleaners,2,3.0,1,2,2.0,1.0,1.0,1.0,2,940.0,345,soccer,5,2,900,116.0
11,3.0,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3,3,1.0,"I am very health concious. I eat many fruits, ...",1,1.0,Less meat.,4,5,1,2.0,5,1.0,3.0,Home Marker,Italian,1,1.0,Scalloped potatoes and ham,1,5,2,5,1,"lean protein, veggies, fruit, complex carbs",More healthy varienty.,2,5.0,5,5,1.0,2.0,"Chicken parm, Fish, Pasta dishes",4.0,Court Reporter,5,1.0,1,3,5.0,2.0,1.0,1.0,5,940.0,500,Running,5,1,900,110.0
12,3.0,2,1,430,3.0,420.0,2,"Cookies, popcorn, and chips","Sadness, boredom, late night snack",5,3,1.0,I focus mostly on proteins and fruits. I eat a...,1,2.0,I have been eating a lot more salads and soups.,2,5,1,3.0,4,3.0,3.0,Shirt designer,Chinese,4,3.0,"Pizza, chicken wings, and corn on the cob",1,4,1,3,9,A salad with a reasonable amount of dressing a...,My ideal diet would be the proper portions of ...,1,5.0,3,4,9.0,2.0,"Cereal, pizza, toast",4.0,Child care provider,2,1.0,2,2,3.0,5.0,2.0,1.0,3,940.0,500,Soccer and basketball,3,2,575,264.0
13,3.0,1,1,610,3.0,420.0,2,"ice cream, cake, chocolate","stress, boredom, special occasions",2,1,1.0,Not as healthy when I am at school compared to...,2,2.0,not as healthy because healthy food goes bad q...,1,3,4,2.0,5,2.0,2.0,business owner,italian,1,1.0,"steak, lasagna, crab",1,5,3,4,8,Lots of vegetabls with some grains like rice. ...,organic/healthy. fruits and vegetables but sti...,2,5.0,3,5,10.0,2.0,"pasta, chicken, steak",4.0,business owner,2,2.0,2,3,3.0,3.0,1.0,1.0,5,1165.0,850,intramural volleyball,5,2,1315,123.0
14,3.0,2,1,610,3.0,420.0,2,"Pizza, fruit, spaghetti, chicken and Potatoes","Friends, environment and boredom",3,2,1.0,"Making sure I have enough protein intake, as w...",1,2.0,"I knew I would eat alot my freshmen year, befo...",3,4,2,3.0,4,2.0,4.0,Commidity trader,Chinese,4,3.0,Pizza,1,5,3,4,2,Green and not greasy,"Eat a little less than I usually do, and intak...",1,5.0,2,3,1.0,1.0,"Pizza, chicken and rice, roast beef.",4.0,Charity worker,2,2.0,2,3,1.0,3.0,1.0,1.0,4,940.0,500,Hockey,5,1,900,185.0
15,2.9,2,2,430,3.0,980.0,2,"cookies, donuts, candy bars",boredom,4,2,1.0,I like a lot of foods that arent home cooked o...,2,2.0,none,3,4,4,3.0,1,1.0,5.0,Hockey Coach,italian food,1,2.0,pizza,1,3,1,1,6,"chicken, veggies, rice",I wish I ate lots of healthy foods like veggie...,2,4.0,1,5,5.0,2.0,pizza buffalo chicken pasta,4.0,Librarian,1,1.0,2,3,1.0,2.0,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180.0
16,4.0,1,1,265,3.0,420.0,1,"Saltfish, Candy and Kit Kat",Stress,3,1,1.0,I eat very healthy,1,1.0,More Water,2,5,1,2.0,2,2.0,1.0,Construction,Jamaican,7,1.0,"Curry, Stew Chicken and Saltfish",1,5,1,2,7,"Not too much carbs, a lot of protein, healthy ...",Vegetables and Fruits with Meat,2,1.0,5,3,9.0,2.0,"Curry goat, saltfish, jerk chicken",2.0,Police,4,1.0,2,2,2.0,3.0,1.0,2.0,1,580.0,345,none,5,1,760,145.0
17,3.0,2,1,430,3.0,980.0,2,"chips, cookies, ice cream",I usually only eat comfort food when I'm bored...,3,2,1.0,My current diet is eggs and a meat every morni...,3,2.0,"I would say i just eat a little more, but not ...",1,2,2,3.0,4,1.0,2.0,self employed construction,American or Italian,5,3.0,"chicken fingers, steak, mac and cheese",1,3,1,3,8,for me usually a big piece of chicken or steak...,"I like how my diet it now. However, after my s...",1,6.0,3,5,7.0,2.0,Grilled chicken or steak with veggies and rice...,2.0,stay at home mom,4,1.0,1,6,2.0,2.0,1.0,1.0,3,940.0,500,hockey,4,2,900,170.0
18,3.0,1,1,720,3.0,980.0,1,"Chocolate, ice crea","Sadness, stress",3,3,1.0,I eat lots of fruit and veggies. I eat lots of...,1,1.0,I ate at the food hall.,4,6,3,2.0,1,3.0,5.0,Engineer,Chicken,5,3.0,Chicken,1,5,2,3,6,Everything from food group,Lots of fruit and veggies. Lots of chicken.,2,5.0,1,5,9.0,2.0,"Spaghetti, Chicken, Steak",3.0,Daycare provider,2,1.0,1,2,1.0,3.0,2.0,2.0,1,1165.0,690,dancing,5,1,1315,135.0
19,2.0,2,1,430,2.0,420.0,2,"pizza, wings, Chinese","boredom, sadness, hungry",4,2,1.0,Current diet right now isn't very good. I eat ...,2,2.0,None really,3,4,2,3.0,3,2.0,5.0,architect,Italian,1,1.0,manacotti,1,2,1,3,4,"lots of fruits and vegitibles, not any fried f...",Something that tastes good and also is good fo...,3,5.0,2,5,7.0,1.0,"chicken, manicotti, rice",4.0,physical therapist,1,1.0,1,3,3.0,4.0,1.0,1.0,3,940.0,345,basketball,2,2,900,165.0
20,3.0,2,1,610,3.0,980.0,2,"Fast food, pizza, subs","happiness, satisfaction",5,7,1.0,"I eat 2 meals a day, lunch and dinner",2,2.0,Late night food,1,3,4,2.0,4,1.0,5.0,CFO,Mexican,2,3.0,"pizza, chicken fingers",1,2,2,2,5,"Rice, Meat, vegetable",3 smaller meals a day,1,6.0,1,4,2.0,1.0,"Chicken, Pasta, Veal",4.0,Teacher,2,1.0,1,2,1.0,6.0,1.0,1.0,1,1165.0,850,Soccer,3,2,1315,175.0
21,3.0,2,1,610,3.0,315.0,1,"chocolate, sweets, ice cream",Mostly boredom,3,2,3.0,"Random. Not strict diet, changes during season",2,2.0,"Less money, less food :(",1,8,1,2.0,3,1.0,4.0,European logistics director,Indian,8,2.0,Pasta,1,3,4,5,8,Green and colourful,"Mix of Mexican, Asian, and Italian foods.",7,6.0,5,5,7.0,2.0,"Meat, wine, chocolate pudding",2.0,House wife,4,1.0,3,5,5.0,2.0,2.0,1.0,5,725.0,500,Tennis,2,2,900,195.0
22,3.0,2,1,610,3.0,420.0,1,"burgers, chips, cookies","sadness, depression",5,3,2.0,balanced,1,1.0,got worse,1,3,1,2.0,3,1.0,4.0,accountant,italian,1,1.0,pasta,2,4,1,4,2,"pasta. veg, water","fruit, veg and protien",2,6.0,5,5,5.0,1.0,"pasta, pizza",4.0,Underwiriter,3,1.0,3,5,2.0,2.0,1.0,1.0,4,940.0,850,tennis soccer gym,3,1,1315,185.0
23,3.0,2,2,610,3.0,420.0,2,"Chilli, soup, pot pie",Stress and boredom,4,1,1.0,2 meals a day. Rarely eat snacks. Fairly balan...,1,1.0,Drink coffee all the time.,1,7,2,2.0,5,3.0,4.0,Commercial Real Estate,Asian,4,1.0,Chicken Nuggets,1,3,3,2,4,"Protein, vegetables, grains",3 healthy meals a day. No caffiene.,1,4.0,4,5,5.0,1.0,"Pizza, Pasta, Poutine",2.0,Beautician,2,1.0,2,3,2.0,3.0,1.0,1.0,4,940.0,690,Gaelic Football,4,1,1315,185.0
24,3.0,1,1,720,2.0,420.0,2,"Soup, pasta, brownies, cake","A long day, not feeling well, winter",1,6,1.0,I eat a lot of chicken and try to cook my own ...,1,2.0,"I watch the amount of ""snacks"" I eat more than...",1,2,4,3.0,4,2.0,3.0,Manager at Pepsi,Chinese,4,1.0,Spaghetti,1,4,3,5,5,A healthy meal is a lean meat with mostly vege...,I would like to be a person to eat a larger ve...,2,4.0,3,5,2.0,2.0,"Pasta, chicken and rice, and soup",2.0,Unemployed,2,1.0,1,3,3.0,4.0,2.0,2.0,4,940.0,500,none,4,2,1315,105.0
25,2.0,1,2,720,3.0,420.0,2,"chocolate, ice cream/milkshake, cookies",boredom,3,2,1.0,"vegetarian, eat breakfast some days before cla...",1,1.0,"none, I have dormed since high school",3,4,2,3.0,2,1.0,4.0,VP of,don't have one,0,3.0,"Chicken parm, beef stroganof, tacos",1,4,1,3,8,"good portions, lots of color, targets main foo...","healthy, colorful, tasty, room for desserts",2,6.0,3,3,5.0,1.0,Pasta\rTake out,3.0,Medical biller,4,1.0,1,3,3.0,3.0,1.0,1.0,3,1165.0,690,Ice hockey,3,2,760,125.0
26,3.0,2,1,610,2.0,420.0,1,"Chips, ice cream, microwaveable foods","Boredom, lazyniss",3,2,1.0,"Most healthy diet, but since I'm an athlete ha...",1,1.0,Tend to eat more fried foods,1,3,2,2.0,2,1.0,4.0,Beverage and Food Sales,Italian food,1,1.0,"Chicken Parm, Pizza",1,3,2,1,9,"A rice, a vegetable, a piece of meat","Very healthy diet, and to cook at home with or...",5,5.0,1,5,9.0,2.0,Chicken parm,2.0,Doctors Billing Assiant,2,1.0,1,4,1.0,2.0,2.0,1.0,2,1165.0,850,Hockey,3,2,1315,160.0
27,3.0,2,1,610,4.0,980.0,2,"Chicken fingers, pizza",Boredom,4,2,1.0,Very healthy. Good balance of proteins and veg...,1,2.0,A lot healthier,2,5,2,3.0,3,1.0,5.0,Dentist,Mexican,2,1.0,Steak,1,5,1,3,9,"Salad, vegetable, carb, protein",My current diet,6,6.0,3,4,9.0,2.0,"Steak, lobster, chicken",5.0,Dentist,4,1.0,1,6,2.0,2.0,1.0,1.0,3,1165.0,500,Lacrosse,5,1,1315,175.0
28,3.0,2,1,610,2.0,420.0,2,"cookies, hot chocolate, beef jerky","survival, bored",2,2,2.0,Whats necessary for survival.,2,1.0,Too much beef jerky,1,3,2,2.0,2,2.0,4.0,Electrical Engineer,Italian/German,1,1.0,"Deer Steak, Buttered Pasta, Garlic Pasta",1,3,3,1,4,"Protein, vegetable and grains",Steak and Burgers,7,5.0,1,5,3.0,1.0,"Garlic noodles and steak, Parmesan chicken and...",4.0,Air Traffic Controller,5,1.0,1,3,2.0,3.0,1.0,2.0,1,940.0,500,none,2,1,1315,180.0
29,3.0,2,1,265,2.0,420.0,2,"Tomato soup, pizza, Fritos, Meatball sub, Dr. ...","Boredom, anger, drunkeness",3,2,1.0,anything and everything,2,2.0,Eating less vegetables because they are less a...,1,3,5,3.0,5,2.0,5.0,Radio Telecommunications Manager,Indian food - samosas are amazing,8,1.0,"Crab legs, Mushroom soup, homemade rolls",1,5,3,3,9,"Grilled chicken, mac and cheese, broccoli, app...","Heavy in protein, fruits, and vegetables.",7,5.0,5,5,10.0,1.0,"Tomato soup, Steak, crab",5.0,Strategic Planning and Programs Manager,2,1.0,1,4,5.0,2.0,1.0,2.0,5,580.0,500,none,4,1,760,167.0
30,4.0,1,1,720,3.0,420.0,2,"cookies, mac-n-cheese, brownies, french fries,","stress, boredom, cold weather",3,1,1.0,I eat some vegetables almost everyday and frui...,1,1.0,I drink way more coffee and I dont eat at home...,1,7,3,2.0,4,2.0,2.0,none,mexican,2,2.0,"french fries, waffles, chocolate",1,3,4,2,7,"whole grain carbs, vegetables, a small amount ...",I would eat enough fruits and vegetables every...,2,5.0,3,4,8.0,2.0,"pasta, chicken with potatoes, pizza",5.0,teacher,4,3.0,3,3,2.0,3.0,2.0,1.0,3,940.0,500,snowboarding,5,1,1315,115.0
31,4.0,2,1,610,3.0,420.0,2,"chips and dip, pepsi,","stres, boredom, and nighttime",2,1,1.0,Diet consists of 3000-4000 calories a day well...,2,2.0,none,3,4,2,3.0,5,2.0,4.0,deceased,italian,1,1.0,chicken and biscuits,1,5,2,5,5,"4-6 ounces chicken or fish, side of potatoes, ...","diet of 1500-2000 calories of white meat, vege...",1,4.0,4,5,3.0,1.0,"Chicken, Steak, Pasta",2.0,management,4,4.0,1,3,3.0,4.0,2.0,2.0,4,940.0,690,none organized,5,1,1315,205.0
32,3.0,2,1,610,3.0,315.0,2,"Grandma's Chinese, Peruvian food from back hom...",Hunger and Boredom,5,4,1.0,"Not that balanced, but I try not to eat fatty ...",2,2.0,I eat more junk food now.,1,3,3,2.0,5,2.0,5.0,Lawyer,Spanish,2,1.0,"Spaghetti, Chicken, Won Tons",1,4,4,5,5,Plenty of greens and lean proteins,"Plenty of protein, carbs from vegetables and f...",7,5.0,5,5,8.0,1.0,"Pasta,Sushi,Steak",5.0,Lawyer,4,1.0,3,4,5.0,4.0,1.0,1.0,5,580.0,345,Soccer,5,1,760,159.0
33,2.0,1,1,720,3.0,420.0,1,"Ice cream, cookies, Chinese food, and chicken...","boredom, sadness, and if it has a good taste.",4,2,2.0,I eat a a lot of carbs from pizza and pasta. I...,2,1.0,I eat more junk food,1,3,2,3.0,4,3.0,4.0,landscaping,Italian,1,1.0,"Chicken Nuggets, Mac and Cheese, and pasta",1,3,1,5,7,A balance of vegetables and cooked lean meat.,my ideal diet would be more fruits and vegetab...,2,3.0,2,5,3.0,1.0,"Chicken Parmesan, pasta,",3.0,unemployed,4,1.0,1,3,2.0,3.0,1.0,2.0,1,1165.0,500,none,3,1,900,128.0
34,3.0,1,1,610,3.0,420.0,2,"french fries, chips, ice cream","boredom, stressed, sad",4,2,1.0,egan dining,2,1.0,poor,1,3,3,3.0,2,1.0,4.0,Vice President of a company,French,1,3.0,"hamburgers, chicken nuggets",1,5,1,3,1,a lot of greens,healthy and protien,7,6.0,1,5,3.0,1.0,"pasta, lasagna, chicken",4.0,stylist,4,1.0,5,4,1.0,2.0,1.0,1.0,3,940.0,345,softball,4,1,1315,150.0
35,3.0,1,1,610,2.0,420.0,2,"mac n cheese, peanut butter and banana sandwic...",Boredom usually,1,2,1.0,"A lot of rice and veggies, eggs for breakfast,...",3,1.0,My diet is more limited just because of what I...,1,3,2,3.0,2,1.0,4.0,Owns his own promotional company,American or Italian,5,1.0,"chicken, pasta, stir fry",1,5,3,3,2,"Some kind of protein, a vegetable, and a grain",Pretty much what I eat now,6,4.0,1,5,3.0,2.0,"Some kind of pasta, a chicken dish, some kind ...",4.0,Works in retail,2,2.0,1,3,2.0,2.0,1.0,1.0,2,940.0,690,Lacrosse,5,2,760,150.0
36,3.0,1,1,610,3.0,420.0,2,"pizza, doughnuts, mcdonalds",boredom,3,2,1.0,I eat out more often then not. I try to make s...,2,2.0,I do not snack as often at school. I find that...,1,8,4,2.0,4,1.0,5.0,Optometrist,Italian or Chinese,1,3.0,"pizza, pasta, grilled cheese",1,5,2,3,7,"a meal with a meat, vegetable, grain, and fruit",I wish I had the time and energy to cook more ...,5,6.0,2,5,7.0,1.0,"spaghetti or pasta, shrimp fried rice, chicken",2.0,Homemaker,3,1.0,2,3,1.0,4.0,2.0,1.0,2,1165.0,500,Softball,5,2,900,150.0
37,3.0,1,1,720,4.0,420.0,2,"chocolate, chips, candy",Stress,2,1,6.0,I do not get to eat as well as I did. I wish ...,2,2.0,I do not eat as many home cooked meals.,1,3,2,2.0,4,3.0,2.0,Construction,Italian,1,1.0,Pasta,1,3,4,5,4,"A protein, starch, veg, and a healthier dessert.",I would like to get all of the food groups in ...,2,6.0,3,5,2.0,2.0,"Pasta, Pizza, Chicken",3.0,Head of Human Resouces,4,1.0,1,4,3.0,4.0,1.0,1.0,5,940.0,500,Dancing,4,2,1315,170.0
38,3.0,1,1,610,3.0,980.0,2,"chocolate, popcorn, ice cream","boredom, stress",3,2,1.0,I eat three meals per day usually. I eat a lot...,1,1.0,I have eaten bigger meals.,1,2,2,3.0,4,2.0,4.0,Biohemical Waste Elimination,italian,1,1.0,chicken parmesan,1,4,4,3,6,a lean protein plus the addition of 2-3 fruits...,My ideal diet would be eating multiple fruits ...,2,5.0,3,5,8.0,2.0,"Chicken Parmesan, Orange Chicken, Tacos",4.0,Accountant,4,1.0,1,3,3.0,4.0,1.0,1.0,2,1165.0,690,Lacrosse,3,2,1315,150.0
39,3.0,2,1,720,3.0,980.0,2,Candy\rPop\rChocolate \rChipotle \rMoe's,No reasons,5,9,1.0,Unhealthy foods from the cafe,2,2.0,I eat more,1,2,5,3.0,3,1.0,5.0,Corporate Manager,Mexican,2,1.0,Chicken and steak,1,5,4,1,3,Chicken breast with veggies,"Red and white meats, potatoes, green beans",2,6.0,3,4,5.0,2.0,"Steak and potatoes, burgers and fries, bacon a...",2.0,Marketing Analyst,1,2.0,3,3,1.0,1.0,1.0,1.0,3,1165.0,690,Hockey,3,2,1315,175.0

## Trocar os número por categóricos ou não ?
Junto do dataset existe um documento onde nele estão as classificações dos números em algumas colunas que simbolizam um dado qualitativo mas que está sendo representado como numérico, a dúvida é se mudar essa classificação seria um boa ação, para esse momento da análise.
Exemplo, na coluna **"cook"** está sendo perguntado quantas vezes a pessoa come no dia, e os número representam uma escala da frequência.

# Dataset Final

In [ ]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,comfort_food_reasons_coded,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,food_childhood,fries,fruit_day,grade_level,greek_food,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.0,2,1,430,3.0,315.0,1,none,we dont have comfort,2,9,1.0,eat good and exercise,1,1.0,eat faster,1,1,3,3.0,1,1.0,5.0,profesor,Arabic cuisine,3,1.0,rice and chicken,2,5,2,5,2,looks not oily,being healthy,8,5.0,5,5,1.0,1.0,"rice, chicken, soup",1.0,unemployed,5,1.0,1,2,5.0,3.0,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187.0
1,3.0,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",3,1,1.0,I eat about three times a day with some snacks...,2,2.0,I eat out more than usual.,1,2,2,2.0,4,1.0,2.0,Self employed,Italian,1,1.0,"chicken and biscuits, beef soup, baked beans",1,4,4,4,5,"Grains, Veggies, (more of grains and veggies),...",Try to eat 5-6 small meals a day. While trying...,3,4.0,4,4,1.0,2.0,"Pasta, steak, chicken",4.0,Nurse RN,4,1.0,1,4,4.0,3.0,1.0,1.0,2,725.0,690,Basketball,4,2,900,155.0
2,3.0,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,1,3.0,"toast and fruit for breakfast, salad for lunch...",3,1.0,sometimes choosing to eat fast food instead of...,1,3,2,3.0,5,2.0,2.0,owns business,italian,1,3.0,"mac and cheese, pizza, tacos",1,5,3,5,6,usually includes natural ingredients; nonproce...,i would say my ideal diet is my current diet,6,6.0,5,5,7.0,2.0,"chicken and rice with veggies, pasta, some kin...",2.0,owns business,4,2.0,1,3,5.0,6.0,1.0,2.0,5,1165.0,500,none,5,1,900,159.0
3,3.0,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,2,2.0,"College diet, cheap and easy foods most nights...",2,2.0,Accepting cheap and premade/store bought foods,1,3,2,3.0,5,3.0,2.0,Mechanic,Turkish,3,1.0,"Beef stroganoff, tacos, pizza",2,4,4,5,7,"Fresh fruits& vegetables, organic meats","Healthy, fresh veggies/fruits & organic foods",2,6.0,5,5,2.0,2.0,Grilled chicken \rStuffed Shells\rHomemade Chili,4.0,Special Education Teacher,2,1.0,1,2,5.0,5.0,1.0,2.0,5,725.0,690,none,3,1,1315,240.0
4,3.0,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,1,2.0,I try to eat healthy but often struggle becaus...,2,2.0,I have eaten generally the same foods but I do...,3,4,2,2.0,4,1.0,4.0,IT,Italian,1,3.0,"Pasta, chicken tender, pizza",1,4,4,4,6,"A lean protein such as grilled chicken, green ...",Ideally I would like to be able to eat healthi...,2,6.0,2,5,1.0,1.0,"Chicken Parmesan, Pulled Pork, Spaghetti and m...",5.0,Substance Abuse Conselor,3,1.0,1,4,2.0,4.0,1.0,1.0,4,940.0,500,Softball,4,2,760,190.0
5,2.0,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",3,4,1.0,My current diet is terrible. I barely have tim...,2,2.0,Eating rice everyday. Eating less homemade food.,1,3,1,3.0,4,2.0,1.0,Taxi Driver,African,6,3.0,"Fries, plaintain & fried fish",1,2,2,2,4,"Requires veggies, fruits and a cooked meal.",My ideal diet is to eat 3 times a day includin...,2,1.0,5,5,4.0,2.0,Anything they'd want. I'd ask them before hand...,1.0,Hair Braider,1,1.0,2,5,5.0,5.0,1.0,2.0,4,940.0,345,None.,1,2,1315,190.0
6,3.0,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",2,1,1.0,I eat a lot of chicken and broccoli for dinner...,3,1.0,I started eating a lot less and healthier beca...,2,5,2,3.0,5,1.0,4.0,Assembler,Thai,4,1.0,"grilled chicken, hamburgers",1,4,4,5,4,"Protein, vegetables, fruit, and some carbs",I would ideally like to eat more fresh fruits ...,2,4.0,5,5,8.0,1.0,"Grilled chicken, steak, pizza",4.0,Journalist,4,2.0,2,2,5.0,4.0,1.0,1.0,5,940.0,690,soccer,4,1,1315,180.0
7,3.0,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,3,1,1.0,"I eat a very healthy diet. Ocassionally, i wil...",1,2.0,"Freshmen year i ate very unhealthy, but now it...",2,5,2,2.0,2,2.0,3.0,Business guy,Anything american style.,5,1.0,"chicken, cheesey potatoes, and hot dogs",1,5,2,3,3,A healthy meal has a piece of meat followed by...,My ideal diet is filled with a lot of fruit an...,2,5.0,1,3,3.0,1.0,"chicken, steak, pasta",2.0,cook,4,1.0,1,5,1.0,3.0,1.0,2.0,1,725.0,500,none,4,2,1315,137.0
8,3.0,1,1,430,3.0,420.0,1,"Donuts, ice cream, chips",Boredom,3,2,1.0,I eat whatever I want in moderation.,1,1.0,I snack less,2,8,5,2.0,5,2.0,5.0,High School Principal,Seafood,1,3.0,"Shrimp, spaghetti",1,4,1,5,7,Colorful,The same as it is now.,6,5.0,5,5,8.0,2.0,"Pasta, Fish, Steak",5.0,Elementary School Teacher,2,1.0,2,3,5.0,4.0,2.0,2.0,5,725.0,345,none,3,2,760,180.0
9,3.0,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",3,1,1.0,I eat healthy all the time when possible. I tr...,1,1.0,I cook a lot of my own foods back at home so n...,1,3,3,3.0,5,1.0,5.0,commissioner of erie county,Italian,1,1.0,"Pasta, Eggs, Pancakes",1,5,1,5,3,Chicken and rice with a side of veggies.,"Lots of protein, carbs, and fruits and veggies.",2,4.0,4,5,3.0,2.0,pasta salad and bread,5.0,Pharmaceutical rep,5,1.0,3,3,4.0,3.0,1.0,1.0,4,580.0,345,field hockey,5,1,900,125.0
10,3.0,1,1,610,3.0,980.0,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,1,2,1.0,i eat very healthy. Maybe eat out 1-2 times a ...,1,2.0,Nun,3,4,2,1.0,5,1.0,2.0,Idk,Orange chicken and chow mani noodles,4,1.0,Chicken,1,5,3,1,9,"Chicken, and veggies","Chicken, fish",7,3.0,1,5,8.0,1.0,"chicken al king, spaghetti, fish",4.0,Chidos Cleaners,2,3.0,1,2,2.0,1.0,1.0,1.0,2,940.0,345,soccer,5,2,900,116.0
11,3.0,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3,3,1.0,"I am very health concious. I eat many fruits, ...",1,1.0,Less meat.,4,5,1,2.0,5,1.0,3.0,Home Marker,Italian,1,1.0,Scalloped potatoes and ham,1,5,2,5,1,"lean protein, veggies, fruit, complex carbs",More healthy varienty.,2,5.0,5,5,1.0,2.0,"Chicken parm, Fish, Pasta dishes",4.0,Court Reporter,5,1.0,1,3,5.0,2.0,1.0,1.0,5,940.0,500,Running,5,1,900,110.0
12,3.0,2,1,430,3.0,420.0,2,"Cookies, popcorn, and chips","Sadness, boredom, late night snack",5,3,1.0,I focus mostly on proteins and fruits. I eat a...,1,2.0,I have been eating a lot more salads and soups.,2,5,1,3.0,4,3.0,3.0,Shirt designer,Chinese,4,3.0,"Pizza, chicken wings, and corn on the cob",1,4,1,3,9,A salad with a reasonable amount of dressing a...,My ideal diet would be the proper portions of ...,1,5.0,3,4,9.0,2.0,"Cereal, pizza, toast",4.0,Child care provider,2,1.0,2,2,3.0,5.0,2.0,1.0,3,940.0,500,Soccer and basketball,3,2,575,264.0
13,3.0,1,1,610,3.0,420.0,2,"ice cream, cake, chocolate","stress, boredom, special occasions",2,1,1.0,Not as healthy when I am at school compared to...,2,2.0,not as healthy because healthy food goes bad q...,1,3,4,2.0,5,2.0,2.0,business owner,italian,1,1.0,"steak, lasagna, crab",1,5,3,4,8,Lots of vegetabls with some grains like rice. ...,organic/healthy. fruits and vegetables but sti...,2,5.0,3,5,10.0,2.0,"pasta, chicken, steak",4.0,business owner,2,2.0,2,3,3.0,3.0,1.0,1.0,5,1165.0,850,intramural volleyball,5,2,1315,123.0
14,3.0,2,1,610,3.0,420.0,2,"Pizza, fruit, spaghetti, chicken and Potatoes","Friends, environment and boredom",3,2,1.0,"Making sure I have enough protein intake, as w...",1,2.0,"I knew I would eat alot my freshmen year, befo...",3,4,2,3.0,4,2.0,4.0,Commidity trader,Chinese,4,3.0,Pizza,1,5,3,4,2,Green and not greasy,"Eat a little less than I usually do, and intak...",1,5.0,2,3,1.0,1.0,"Pizza, chicken and rice, roast beef.",4.0,Charity worker,2,2.0,2,3,1.0,3.0,1.0,1.0,4,940.0,500,Hockey,5,1,900,185.0
15,2.9,2,2,430,3.0,980.0,2,"cookies, donuts, candy bars",boredom,4,2,1.0,I like a lot of foods that arent home cooked o...,2,2.0,none,3,4,4,3.0,1,1.0,5.0,Hockey Coach,italian food,1,2.0,pizza,1,3,1,1,6,"chicken, veggies, rice",I wish I ate lots of healthy foods like veggie...,2,4.0,1,5,5.0,2.0,pizza buffalo chicken pasta,4.0,Librarian,1,1.0,2,3,1.0,2.0,2.0,1.0,1,940.0,345,Hockey,1,2,1315,180.0
16,4.0,1,1,265,3.0,420.0,1,"Saltfish, Candy and Kit Kat",Stress,3,1,1.0,I eat very healthy,1,1.0,More Water,2,5,1,2.0,2,2.0,1.0,Construction,Jamaican,7,1.0,"Curry, Stew Chicken and Saltfish",1,5,1,2,7,"Not too much carbs, a lot of protein, healthy ...",Vegetables and Fruits with Meat,2,1.0,5,3,9.0,2.0,"Curry goat, saltfish, jerk chicken",2.0,Police,4,1.0,2,2,2.0,3.0,1.0,2.0,1,580.0,345,none,5,1,760,145.0
17,3.0,2,1,430,3.0,980.0,2,"chips, cookies, ice cream",I usually only eat comfort food when I'm bored...,3,2,1.0,My current diet is eggs and a meat every morni...,3,2.0,"I would say i just eat a little more, but not ...",1,2,2,3.0,4,1.0,2.0,self employed construction,American or Italian,5,3.0,"chicken fingers, steak, mac and cheese",1,3,1,3,8,for me usually a big piece of chicken or steak...,"I like how my diet it now. However, after my s...",1,6.0,3,5,7.0,2.0,Grilled chicken or steak with veggies and rice...,2.0,stay at home mom,4,1.0,1,6,2.0,2.0,1.0,1.0,3,940.0,500,hockey,4,2,900,170.0
18,3.0,1,1,720,3.0,980.0,1,"Chocolate, ice crea","Sadness, stress",3,3,1.0,I eat lots of fruit and veggies. I eat lots of...,1,1.0,I ate at the food hall.,4,6,3,2.0,1,3.0,5.0,Engineer,Chicken,5,3.0,Chicken,1,5,2,3,6,Everything from food group,Lots of fruit and veggies. Lots of chicken.,2,5.0,1,5,9.0,2.0,"Spaghetti, Chicken, Steak",3.0,Daycare provider,2,1.0,1,2,1.0,3.0,2.0,2.0,1,1165.0,690,dancing,5,1,1315,135.0
19,2.0,2,1,430,2.0,420.0,2,"pizza, wings, Chinese","boredom, sadness, hungry",4,2,1.0,Current diet right now isn't very good. I eat ...,2,2.0,None really,3,4,2,3.0,3,2.0,5.0,architect,Italian,1,1.0,manacotti,1,2,1,3,4,"lots of fruits and vegitibles, not any fried f...",Something that tastes good and also is good fo...,3,5.0,2,5,7.0,1.0,"chicken, manicotti, rice",4.0,physical therapist,1,1.0,1,3,3.0,4.0,1.0,1.0,3,940.0,345,basketball,2,2,900,165.0
20,3.0,2,1,610,3.0,980.0,2,"Fast food, pizza, subs","happiness, satisfaction",5,7,1.0,"I eat 2 meals a day, lunch and dinner",2,2.0,Late night food,1,3,4,2.0,4,1.0,5.0,CFO,Mexican,2,3.0,"pizza, chicken fingers",1,2,2,2,5,"Rice, Meat, vegetable",3 smaller meals a day,1,6.0,1,4,2.0,1.0,"Chicken, Pasta, Veal",4.0,Teacher,2,1.0,1,2,1.0,6.0,1.0,1.0,1,1165.0,850,Soccer,3,2,1315,175.0
21,3.0,2,1,610,3.0,315.0,1,"chocolate, sweets, ice cream",Mostly boredom,3,2,3.0,"Random. Not strict diet, changes during season",2,2.0,"Less money, less food :(",1,8,1,2.0,3,1.0,4.0,European logistics director,Indian,8,2.0,Pasta,1,3,4,5,8,Green and colourful,"Mix of Mexican, Asian, and Italian foods.",7,6.0,5,5,7.0,2.0,"Meat, wine, chocolate pudding",2.0,House wife,4,1.0,3,5,5.0,2.0,2.0,1.0,5,725.0,500,Tennis,2,2,900,195.0
22,3.0,2,1,610,3.0,420.0,1,"burgers, chips, cookies","sadness, depression",5,3,2.0,balanced,1,1.0,got worse,1,3,1,2.0,3,1.0,4.0,accountant,italian,1,1.0,pasta,2,4,1,4,2,"pasta. veg, water","fruit, veg and protien",2,6.0,5,5,5.0,1.0,"pasta, pizza",4.0,Underwiriter,3,1.0,3,5,2.0,2.0,1.0,1.0,4,940.0,850,tennis soccer gym,3,1,1315,185.0
23,3.0,2,2,610,3.0,420.0,2,"Chilli, soup, pot pie",Stress and boredom,4,1,1.0,2 meals a day. Rarely eat snacks. Fairly balan...,1,1.0,Drink coffee all the time.,1,7,2,2.0,5,3.0,4.0,Commercial Real Estate,Asian,4,1.0,Chicken Nuggets,1,3,3,2,4,"Protein, vegetables, grains",3 healthy meals a day. No caffiene.,1,4.0,4,5,5.0,1.0,"Pizza, Pasta, Poutine",2.0,Beautician,2,1.0,2,3,2.0,3.0,1.0,1.0,4,940.0,690,Gaelic Football,4,1,1315,185.0
24,3.0,1,1,720,2.0,420.0,2,"Soup, pasta, brownies, cake","A long day, not feeling well, winter",1,6,1.0,I eat a lot of chicken and try to cook my own ...,1,2.0,"I watch the amount of ""snacks"" I eat more than...",1,2,4,3.0,4,2.0,3.0,Manager at Pepsi,Chinese,4,1.0,Spaghetti,1,4,3,5,5,A healthy meal is a lean meat with mostly vege...,I would like to be a person to eat a larger ve...,2,4.0,3,5,2.0,2.0,"Pasta, chicken and rice, and soup",2.0,Unemployed,2,1.0,1,3,3.0,4.0,2.0,2.0,4,940.0,500,none,4,2,1315,105.0
25,2.0,1,2,720,3.0,420.0,2,"chocolate, ice cream/milkshake, cookies",boredom,3,2,1.0,"vegetarian, eat breakfast some days before cla...",1,1.0,"none, I have dormed since high school",3,4,2,3.0,2,1.0,4.0,VP of,don't have one,0,3.0,"Chicken parm, beef stroganof, tacos",1,4,1,3,8,"good portions, lots of color, targets main foo...","healthy, colorful, tasty, room for desserts",2,6.0,3,3,5.0,1.0,Pasta\rTake out,3.0,Medical biller,4,1.0,1,3,3.0,3.0,1.0,1.0,3,1165.0,690,Ice hockey,3,2,760,125.0
26,3.0,2,1,610,2.0,420.0,1,"Chips, ice cream, microwaveable foods","Boredom, lazyniss",3,2,1.0,"Most healthy diet, but since I'm an athlete ha...",1,1.0,Tend to eat more fried foods,1,3,2,2.0,2,1.0,4.0,Beverage and Food Sales,Italian food,1,1.0,"Chicken Parm, Pizza",1,3,2,1,9,"A rice, a vegetable, a piece of meat","Very healthy diet, and to cook at home with or...",5,5.0,1,5,9.0,2.0,Chicken parm,2.0,Doctors Billing Assiant,2,1.0,1,4,1.0,2.0,2.0,1.0,2,1165.0,850,Hockey,3,2,1315,160.0
27,3.0,2,1,610,4.0,980.0,2,"Chicken fingers, pizza",Boredom,4,2,1.0,Very healthy. Good balance of proteins and veg...,1,2.0,A lot healthier,2,5,2,3.0,3,1.0,5.0,Dentist,Mexican,2,1.0,Steak,1,5,1,3,9,"Salad, vegetable, carb, protein",My current diet,6,6.0,3,4,9.0,2.0,"Steak, lobster, chicken",5.0,Dentist,4,1.0,1,6,2.0,2.0,1.0,1.0,3,1165.0,500,Lacrosse,5,1,1315,175.0
28,3.0,2,1,610,2.0,420.0,2,"cookies, hot chocolate, beef jerky","survival, bored",2,2,2.0,Whats necessary for survival.,2,1.0,Too much beef jerky,1,3,2,2.0,2,2.0,4.0,Electrical Engineer,Italian/German,1,1.0,"Deer Steak, Buttered Pasta, Garlic Pasta",1,3,3,1,4,"Protein, vegetable and grains",Steak and Burgers,7,5.0,1,5,3.0,1.0,"Garlic noodles and steak, Parmesan chicken and...",4.0,Air Traffic Controller,5,1.0,1,3,2.0,3.0,1.0,2.0,1,940.0,500,none,2,1,1315,180.0
29,3.0,2,1,265,2.0,420.0,2,"Tomato soup, pizza, Fritos, Meatball sub, Dr. ...","Boredom, anger, drunkeness",3,2,1.0,anything and everything,2,2.0,Eating less vegetables because they are less a...,1,3,5,3.0,5,2.0,5.0,Radio Telecommunications Manager,Indian food - samosas are amazing,8,1.0,"Crab legs, Mushroom soup, homemade rolls",1,5,3,3,9,"Grilled chicken, mac and cheese, broccoli, app...","Heavy in protein, fruits, and vegetables.",7,5.0,5,5,10.0,1.0,"Tomato soup, Steak, crab",5.0,Strategic Planning and Programs Manager,2,1.0,1,4,5.0,2.0,1.0,2.0,5,580.0,500,none,4,1,760,167.0
30,4.0,1,1,720,3.0,420.0,2,"cookies, mac-n-cheese, brownies, french fries,","stress, boredom, cold weather",3,1,1.0,I eat some vegetables almost everyday and frui...,1,1.0,I drink way more coffee and I dont eat at home...,1,7,3,2.0,4,2.0,2.0,none,mexican,2,2.0,"french fries, waffles, chocolate",1,3,4,2,7,"whole grain carbs, vegetables, a small amount ...",I would eat enough fruits and vegetables every...,2,5.0,3,4,8.0,2.0,"pasta, chicken with potatoes, pizza",5.0,teacher,4,3.0,3,3,2.0,3.0,2.0,1.0,3,940.0,500,snowboarding,5,1,1315,115.0
31,4.0,2,1,610,3.0,420.0,2,"chips and dip, pepsi,","stres, boredom, and nighttime",2,1,1.0,Diet consists of 3000-4000 calories a day well...,2,2.0,none,3,4,2,3.0,5,2.0,4.0,deceased,italian,1,1.0,chicken and biscuits,1,5,2,5,5,"4-6 ounces chicken or fish, side of potatoes, ...","diet of 1500-2000 calories of white meat, vege...",1,4.0,4,5,3.0,1.0,"Chicken, Steak, Pasta",2.0,management,4,4.0,1,3,3.0,4.0,2.0,2.0,4,940.0,690,none organized,5,1,1315,205.0
32,3.0,2,1,610,3.0,315.0,2,"Grandma's Chinese, Peruvian food from back hom...",Hunger and Boredom,5,4,1.0,"Not that balanced, but I try not to eat fatty ...",2,2.0,I eat more junk food now.,1,3,3,2.0,5,2.0,5.0,Lawyer,Spanish,2,1.0,"Spaghetti, Chicken, Won Tons",1,4,4,5,5,Plenty of greens and lean proteins,"Plenty of protein, carbs from vegetables and f...",7,5.0,5,5,8.0,1.0,"Pasta,Sushi,Steak",5.0,Lawyer,4,1.0,3,4,5.0,4.0,1.0,1.0,5,580.0,345,Soccer,5,1,760,159.0
33,2.0,1,1,720,3.0,420.0,1,"Ice cream, cookies, Chinese food, and chicken...","boredom, sadness, and if it has a good taste.",4,2,2.0,I eat a a lot of carbs from pizza and pasta. I...,2,1.0,I eat more junk food,1,3,2,3.0,4,3.0,4.0,landscaping,Italian,1,1.0,"Chicken Nuggets, Mac and Cheese, and pasta",1,3,1,5,7,A balance of vegetables and cooked lean meat.,my ideal diet would be more fruits and vegetab...,2,3.0,2,5,3.0,1.0,"Chicken Parmesan, pasta,",3.0,unemployed,4,1.0,1,3,2.0,3.0,1.0,2.0,1,1165.0,500,none,3,1,900,128.0
34,3.0,1,1,610,3.0,420.0,2,"french fries, chips, ice cream","boredom, stressed, sad",4,2,1.0,egan dining,2,1.0,poor,1,3,3,3.0,2,1.0,4.0,Vice President of a company,French,1,3.0,"hamburgers, chicken nuggets",1,5,1,3,1,a lot of greens,healthy and protien,7,6.0,1,5,3.0,1.0,"pasta, lasagna, chicken",4.0,stylist,4,1.0,5,4,1.0,2.0,1.0,1.0,3,940.0,345,softball,4,1,1315,150.0
35,3.0,1,1,610,2.0,420.0,2,"mac n cheese, peanut butter and banana sandwic...",Boredom usually,1,2,1.0,"A lot of rice and veggies, eggs for breakfast,...",3,1.0,My diet is more limited just because of what I...,1,3,2,3.0,2,1.0,4.0,Owns his own promotional company,American or Italian,5,1.0,"chicken, pasta, stir fry",1,5,3,3,2,"Some kind of protein, a vegetable, and a grain",Pretty much what I eat now,6,4.0,1,5,3.0,2.0,"Some kind of pasta, a chicken dish, some kind ...",4.0,Works in retail,2,2.0,1,3,2.0,2.0,1.0,1.0,2,940.0,690,Lacrosse,5,2,760,150.0
36,3.0,1,1,610,3.0,420.0,2,"pizza, doughnuts, mcdonalds",boredom,3,2,1.0,I eat out more often then not. I try to make s...,2,2.0,I do not snack as often at school. I find that...,1,8,4,2.0,4,1.0,5.0,Optometrist,Italian or Chinese,1,3.0,"pizza, pasta, grilled cheese",1,5,2,3,7,"a meal with a meat, vegetable, grain, and fruit",I wish I had the time and energy to cook more ...,5,6.0,2,5,7.0,1.0,"spaghetti or pasta, shrimp fried rice, chicken",2.0,Homemaker,3,1.0,2,3,1.0,4.0,2.0,1.0,2,1165.0,500,Softball,5,2,900,150.0
37,3.0,1,1,720,4.0,420.0,2,"chocolate, chips, candy",Stress,2,1,6.0,I do not get to eat as well as I did. I wish ...,2,2.0,I do not eat as many home cooked meals.,1,3,2,2.0,4,3.0,2.0,Construction,Italian,1,1.0,Pasta,1,3,4,5,4,"A protein, starch, veg, and a healthier dessert.",I would like to get all of the food groups in ...,2,6.0,3,5,2.0,2.0,"Pasta, Pizza, Chicken",3.0,Head of Human Resouces,4,1.0,1,4,3.0,4.0,1.0,1.0,5,940.0,500,Dancing,4,2,1315,170.0
38,3.0,1,1,610,3.0,980.0,2,"chocolate, popcorn, ice cream","boredom, stress",3,2,1.0,I eat three meals per day usually. I eat a lot...,1,1.0,I have eaten bigger meals.,1,2,2,3.0,4,2.0,4.0,Biohemical Waste Elimination,italian,1,1.0,chicken parmesan,1,4,4,3,6,a lean protein plus the addition of 2-3 fruits...,My ideal diet would be eating multiple fruits ...,2,5.0,3,5,8.0,2.0,"Chicken Parmesan, Orange Chicken, Tacos",4.0,Accountant,4,1.0,1,3,3.0,4.0,1.0,1.0,2,1165.0,690,Lacrosse,3,2,1315,150.0
39,3.0,2,1,720,3.0,980.0,2,Candy\rPop\rChocolate \rChipotle \rMoe's,No reasons,5,9,1.0,Unhealthy foods from the cafe,2,2.0,I eat more,1,2,5,3.0,3,1.0,5.0,Corporate Manager,Mexican,2,1.0,Chicken and steak,1,5,4,1,3,Chicken breast with veggies,"Red and white meats, potatoes, green beans",2,6.0,3,4,5.0,2.0,"Steak and potatoes, burgers and fries, bacon a...",2.0,Marketing Analyst,1,2.0,3,3,1.0,1.0,1.0,1.0,3,1165.0,690,Hockey,3,2,1315,175.0